
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

main{
    margin-top: 20px;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}
.icon{
    padding-left: 100px;
}
.fa{
    position: absolute;
    left: 53%;
    top: 11%;
    filter: opacity(0.5);
}

nav input{
    width: max(25vw, 500px);
    height: 40px;
    background-color: #eee;
    padding: 10px;
    outline: none;
    padding: none;
    border: none;
    position: relative;
    top: -32%;
}
.dropdown{
    background-color: #eee;
    width: 200px;
    display: none;
  
}
.dropdown span:hover{
    color: green;
}
.explore{
    font-family: 'Outfit';
    font-weight: 30px;
    font-weight: bold;
    color: rgb(64, 61, 61);
    border: none;
    outline: none;
    background-color: transparent;
}
.explore:hover .dropdown{
    display: block;
}
.sign{
    margin-right: 50px;
}
.sign button{
    margin-right: 30px;
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.in{
    background-color: tomato;
    color: white;
}
.upload{
    background-color: green;
    color: white;
    
}
.space{
    margin:20px;
}
section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: -50px;
    margin-left: 70px;
   
    
}
div img{
     width: 400px;
    height: 500px; 
    border-radius: 10px;
    margin: 30px;
    position: relative;
    cursor: pointer;
}
div img:hover {
transform: scale(1.05);
transition: 2s linear;

} 


div span{
    position: relative;
    top: -20%;
    font-size: 20px;
  left: 10%;
 
   z-index: 1;
   cursor: pointer;
   
 
   
  display: block;
   
}



#female .one,
#female .two,
#female .three{
    margin-top: 70px;
}
.like{
    color: red;
}



